In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('data/Heart_train.csv')
test_df = pd.read_csv('data/Heart_test.csv')

In [3]:
train_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
1,53,1,2,130,246,1,0,173,0,0.0,2,3,2,1
2,61,1,3,134,234,0,1,145,0,2.6,1,2,2,0
3,45,1,1,128,308,0,0,170,0,0.0,2,0,2,1
4,50,1,0,144,200,0,0,126,1,0.9,1,0,3,0

In [4]:
test_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,58,1,1,120,284,0,0,160,0,1.8,1,0,2,0
1,52,1,0,112,230,0,1,160,0,0.0,2,1,2,0
2,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1
3,55,1,1,130,262,0,1,155,0,0.0,2,0,2,1
4,53,0,0,130,264,0,0,143,0,0.4,1,0,2,1

In [5]:
train_df.shape

(242, 14)

In [6]:
test_df.shape

(61, 14)

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 14 columns):
age         242 non-null int64
sex         242 non-null int64
cp          242 non-null int64
trestbps    242 non-null int64
chol        242 non-null int64
fbs         242 non-null int64
restecg     242 non-null int64
thalach     242 non-null int64
exang       242 non-null int64
oldpeak     242 non-null float64
slope       242 non-null int64
ca          242 non-null int64
thal        242 non-null int64
target      242 non-null int64
dtypes: float64(1), int64(13)
memory usage: 26.6 KB

In [8]:
train_df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.00000,242.000000,242.000000,242.000000,242.000000
mean,54.603306,0.690083,1.024793,132.243802,244.760331,0.157025,0.520661,149.809917,0.326446,1.02686,1.396694,0.760331,2.309917,0.545455
std,9.200829,0.463418,1.034370,17.524212,52.774558,0.364578,0.508829,23.129193,0.469885,1.15571,0.617576,1.034868,0.617034,0.498962
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,210.250000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,152.000000,0.000000,0.80000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,272.500000,0.000000,1.000000,166.750000,1.000000,1.60000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,2.000000,4.000000,3.000000,1.000000